@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
label,
h3 {
  @apply font-semibold text-dark-500;
}
input[type="color"] {
  -webkit-appearance: none;
  @apply cursor-pointer border-1 focus:outline-transparent w-12 h-12 rounded-full overflow-hidden;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.himaker-panel {
  @apply fixed overflow-x-hidden bottom-20 left-4 w-84 h-[600px] shadow-xl rounded-xl;
}
.himaker-trigger {
  @apply fixed bottom-4 left-4 w-48 h-12 overflow-hidden shadow cursor-pointer rounded-xl;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
.slide-down-fade-enter-active,
.slide-down-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.slide-down-fade-enter-from,
.slide-down-fade-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.scale-enter-active,
.scale-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0);
  opacity: 0;
}

.form input {
  @apply mt-1 mb-4;
}

.p-divider.p-divider-horizontal:before {
  @apply !border-t border-solid !border-gray-200;
}

.swiper-button-disabled {
  @apply opacity-10 transition;
}

.custom .p-scrollpanel-bar {
  background-color: white;
  opacity: 1;
  transition: background-color 0.3s;
}
.custom .p-scrollpanel-content {
  padding: 0 18px 0px 0;
}
.custom .p-scrollpanel-bar:hover {
  background-color: #00ddb3;
}
.custom .p-scrollpanel-bar-x {
  display: none;
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
