html {
  font-size: 14px;
}
label,
h3 {
  @apply font-semibold text-dark-500;
}
input[type="color"] {
  -webkit-appearance: none;
  @apply cursor-pointer border-1 focus:outline-transparent w-12 h-12 rounded-full overflow-hidden;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.himaker-panel {
  @apply fixed overflow-x-hidden bottom-20 left-4 w-84 h-[600px] shadow-xl rounded-xl;
}
.himaker-trigger {
  @apply fixed bottom-4 left-4 w-48 h-12 overflow-hidden shadow cursor-pointer rounded-xl;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.form input {
  @apply mt-1 mb-4;
}

.p-divider.p-divider-horizontal:before {
  @apply !border-t border-solid !border-gray-200;
}

.swiper-button-disabled {
  @apply opacity-80 transition;
}

.custom .p-scrollpanel-bar {
  background-color: white;
  opacity: 1;
  transition: background-color 0.3s;
}
.custom .p-scrollpanel-content {
  padding: 0 18px 0px 0;
}
.custom .p-scrollpanel-bar:hover {
  background-color: #00ddb3;
}
.custom .p-scrollpanel-bar-x {
  display: none;
}
